<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>addToMenu</key>
	<array>
	</array>
	<key>developer</key>
	<string>OH no Type Co.</string>
	<key>developerURL</key>
	<string>http://github.com/ohnotypeco</string>
	<key>html</key>
	<false/>
	<key>launchAtStartUp</key>
	<true/>
	<key>mainScript</key>
	<string>main.py</string>
	<key>name</key>
	<string>Transmutor</string>
	<key>requiresVersionMajor</key>
	<string>4</string>
	<key>requiresVersionMinor</key>
	<string>0</string>
	<key>timeStamp</key>
	<real>1638366053.720922</real>
	<key>version</key>
	<string>0.1.0</string>
</dict>
</plist>
