<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>addToMenu</key>
<array>
		<dict>
			<key>path</key>
			<string>main.py</string>
			<key>preferredName</key>
			<string>Transmutor</string>
			<key>shortKey</key>
			<string></string>
		</dict>
	</array>
	<key>developer</key>
	<string>OH no Type Co.</string>
	<key>developerURL</key>
	<string>http://github.com/ohnotypeco</string>
	<key>html</key>
	<false/>
	<key>launchAtStartUp</key>
	<false/>
	<key>mainScript</key>
	<string></string>
	<key>name</key>
	<string>Transmutor</string>
	<key>requiresVersionMajor</key>
	<string>4</string>
	<key>requiresVersionMinor</key>
	<string>0</string>
	<key>timeStamp</key>
	<real>1696651605.0</real>
	<key>version</key>
	<string>2.0.0</string>
</dict>
</plist>
