name: Release Extension

on:
  push:
    branches: [main]
    tags: ["v*.*.*"]
  pull_request:
    branches: [main]

permissions:
  contents: write

jobs:
  deploy:
    # only run if the commit is tagged...
    if: startsWith(github.ref, 'refs/tags/v')
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Set env
        run: |
          echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV
      - name: Relative Zip
        run: |
          ${GITHUB_WORKSPACE}/.github/relativeZip.sh "${GITHUB_WORKSPACE}/Transmutor.roboFontExt" "${GITHUB_WORKSPACE}/Transmutor-${RELEASE_VERSION}.roboFontExt.zip"
      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          files: |
            *.zip